<a href="https://colab.research.google.com/github/UdayLab/Hands-on-Pattern-Mining/blob/main/chapter18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **18.2.1 Step 1: Install Required Libraries**

In [ ]:
import pandas as pd
import numpy as np

# **18.2.2 Step 2: Selecting the target data**

In [ ]:
!wget -nc https://www.dropbox.com/s/wa8d1sujzlx56hh/ETL_DATA_new.csv

--2025-03-13 11:22:22--  https://www.dropbox.com/s/wa8d1sujzlx56hh/ETL_DATA_new.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.67.18, 2620:100:6021:18::a27d:4112
Connecting to www.dropbox.com (www.dropbox.com)|162.125.67.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://www.dropbox.com/scl/fi/xfqhfaqam1mbvmlapv5z1/ETL_DATA_new.csv?rlkey=fcox2uze73hrreid6e78nvufg [following]
--2025-03-13 11:22:23--  https://www.dropbox.com/scl/fi/xfqhfaqam1mbvmlapv5z1/ETL_DATA_new.csv?rlkey=fcox2uze73hrreid6e78nvufg
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc2bc4cae4278a71118fb5cae701.dl.dropboxusercontent.com/cd/0/inline/Clwkg3H_n1dMXah6GU2VKGOULSXa7Jcmrwfdx2L6wpDJnzqRCx-k3CaKSAk7STXjG2ymeyQ9K__Acz9DW8OgkiDGPul6BvpSxUoMfkQsx47eIorC7m5OA4YpLas951ZE3VZDXffgY7pvBa9BELT8baft/file# [following]
--2025-03-13 11:22:24--  https://uc2bc4cae4278a71118fb5cae701.dl.dropboxusercontent.com/cd/0/inline/Clwkg3H_n1dMXah6GU2VKGOULSXa7Jcmrwfdx2L6wpDJnzqRCx-k3CaKSAk7STXjG2ymeyQ9K__Acz9DW8OgkiDGPul6BvpSxUoMfkQsx47eIorC7m5OA4YpLas951ZE3VZDXffgY7pvBa9BELT8baft/file
Resolving uc2bc4cae4278a71118fb5cae701.dl.dropboxusercontent.com (uc2bc4cae4278a71118fb5cae701.dl.dropboxusercontent.com)... 162.125.65.15, 2620:100:6021:15::a27d:410f
Connecting to uc2bc4cae4278a71118fb5cae701.dl.dropboxusercontent.com (uc2bc4cae4278a71118fb5cae701.dl.dropboxusercontent.com)|162.125.65.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 262918270 (251M) [text/plain]
Saving to: ‘ETL_DATA_new.csv’

ETL_DATA_new.csv    100%[===================>] 250.74M  26.9MB/s    in 10s

2025-03-13 11:22:36 (24.2 MB/s) - ‘ETL_DATA_new.csv’ saved [262918270/262918270]

In [ ]:
dataset = pd.read_csv ('ETL_DATA_new.csv',index_col =0)
dataset

,TimeStamp,Point(139.0794379 36.3727776),Point(139.1051411 36.3963822),Point(139.0960211 36.4047323),Point(139.0428727 36.3816035),Point(138.9955116 36.33801589999999),Point(139.342672 36.4105658),Point(139.3526243 36.3695416),Point(139.1945766 36.31351160000001),Point(139.2076974 36.3034767),...,Point(139.9418164 36.7656467),Point(140.0549894 36.9688923),Point(139.8775674 36.3847082),Point(139.9101767 36.4393022),Point(139.9074816 36.4445767),Point(140.0934838 36.4673588),Point(139.7422865 36.2305774),Point(139.7151723 36.822353),Point(140.1510903 36.6598314),Unnamed: 1832
,,,,,,,,,,,,,,,,,,,,,
0,2018-01-01 01:00:00,NaN,NaN,5.0,13.0,18.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,4.0,NaN
1,2018-01-01 02:00:00,NaN,NaN,11.0,12.0,22.0,15.0,NaN,NaN,NaN,...,NaN,6.0,NaN,NaN,NaN,9.0,NaN,NaN,5.0,NaN
2,2018-01-01 03:00:00,NaN,NaN,7.0,12.0,19.0,16.0,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,10.0,NaN,NaN,6.0,NaN
3,2018-01-01 04:00:00,NaN,NaN,5.0,11.0,16.0,11.0,NaN,NaN,NaN,...,NaN,2.0,NaN,NaN,NaN,11.0,NaN,NaN,11.0,NaN
4,2018-01-01 05:00:00,NaN,NaN,6.0,11.0,10.0,8.0,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,8.0,NaN,NaN,6.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46000,2023-04-25 18:00:00,NaN,NaN,NaN,22.0,3.0,15.0,NaN,NaN,NaN,...,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN
46001,2023-04-25 19:00:00,NaN,NaN,NaN,21.0,2.0,19.0,NaN,NaN,NaN,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN
46002,2023-04-25 20:00:00,NaN,NaN,NaN,20.0,10.0,19.0,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN
46003,2023-04-25 21:00:00,NaN,NaN,NaN,19.0,2.0,15.0,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN
46004,2023-04-25 22:00:00,NaN,NaN,NaN,19.0,1.0,17.0,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN

In [ ]:
dataset .drop('TimeStamp', inplace =True , axis =1)
unnamed_columns = [col for col in dataset.columns if 'Unnamed' in col]
dataset.drop(unnamed_columns, axis=1, inplace=True)
dataset

,Point(139.0794379 36.3727776),Point(139.1051411 36.3963822),Point(139.0960211 36.4047323),Point(139.0428727 36.3816035),Point(138.9955116 36.33801589999999),Point(139.342672 36.4105658),Point(139.3526243 36.3695416),Point(139.1945766 36.31351160000001),Point(139.2076974 36.3034767),Point(139.3817322 36.2909131),...,Point(139.9239959 36.8062129),Point(139.9418164 36.7656467),Point(140.0549894 36.9688923),Point(139.8775674 36.3847082),Point(139.9101767 36.4393022),Point(139.9074816 36.4445767),Point(140.0934838 36.4673588),Point(139.7422865 36.2305774),Point(139.7151723 36.822353),Point(140.1510903 36.6598314)
,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,5.0,13.0,18.0,20.0,NaN,NaN,NaN,23.0,...,1.0,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,4.0
1,NaN,NaN,11.0,12.0,22.0,15.0,NaN,NaN,NaN,32.0,...,0.0,NaN,6.0,NaN,NaN,NaN,9.0,NaN,NaN,5.0
2,NaN,NaN,7.0,12.0,19.0,16.0,NaN,NaN,NaN,32.0,...,2.0,NaN,0.0,NaN,NaN,NaN,10.0,NaN,NaN,6.0
3,NaN,NaN,5.0,11.0,16.0,11.0,NaN,NaN,NaN,28.0,...,3.0,NaN,2.0,NaN,NaN,NaN,11.0,NaN,NaN,11.0
4,NaN,NaN,6.0,11.0,10.0,8.0,NaN,NaN,NaN,27.0,...,5.0,NaN,4.0,NaN,NaN,NaN,8.0,NaN,NaN,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46000,NaN,NaN,NaN,22.0,3.0,15.0,NaN,NaN,NaN,16.0,...,12.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0
46001,NaN,NaN,NaN,21.0,2.0,19.0,NaN,NaN,NaN,14.0,...,11.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0
46002,NaN,NaN,NaN,20.0,10.0,19.0,NaN,NaN,NaN,13.0,...,11.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,8.0
46003,NaN,NaN,NaN,19.0,2.0,15.0,NaN,NaN,NaN,10.0,...,10.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,10.0
46004,NaN,NaN,NaN,19.0,1.0,17.0,NaN,NaN,NaN,13.0,...,9.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0

# **18.2.3 Step 3: Preprocessing**

In [ ]:
import numpy as np
from sklearn.utils import shuffle

def hotDeckImputation(dataset):
    imputed_dataset = dataset.copy()
    for column in imputed_dataset.columns:
        missing_idx = imputed_dataset[column].isnull()
        non_missing_values = imputed_dataset.loc[~missing_idx, column]
        donor_pool = shuffle(non_missing_values, random_state=42).reset_index(drop=True)
        donor_pool_expanded = np.resize(donor_pool.values, missing_idx.sum())
        imputed_dataset.loc[missing_idx, column] = donor_pool_expanded

    return imputed_dataset

In [ ]:
dataset.replace(['None', 'Nan'], np.nan, inplace=True)
dataset.where(dataset <= 250, np.nan, inplace=True)
dataset.where(dataset > 0, 0, inplace=True)

threshold = 0.8 * len(dataset)
dataset = dataset.dropna(thresh=threshold, axis=1)

dataset = hotDeckImputation(dataset)
dataset

,Point(139.0794379 36.3727776),Point(139.1051411 36.3963822),Point(139.0960211 36.4047323),Point(139.0428727 36.3816035),Point(138.9955116 36.33801589999999),Point(139.342672 36.4105658),Point(139.3526243 36.3695416),Point(139.1945766 36.31351160000001),Point(139.2076974 36.3034767),Point(139.3817322 36.2909131),...,Point(139.9239959 36.8062129),Point(139.9418164 36.7656467),Point(140.0549894 36.9688923),Point(139.8775674 36.3847082),Point(139.9101767 36.4393022),Point(139.9074816 36.4445767),Point(140.0934838 36.4673588),Point(139.7422865 36.2305774),Point(139.7151723 36.822353),Point(140.1510903 36.6598314)
,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,5.0,13.0,18.0,20.0,0.0,0.0,0.0,23.0,...,1.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,4.0
1,0.0,0.0,11.0,12.0,22.0,15.0,0.0,0.0,0.0,32.0,...,0.0,0.0,6.0,0.0,0.0,0.0,9.0,0.0,0.0,5.0
2,0.0,0.0,7.0,12.0,19.0,16.0,0.0,0.0,0.0,32.0,...,2.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,6.0
3,0.0,0.0,5.0,11.0,16.0,11.0,0.0,0.0,0.0,28.0,...,3.0,0.0,2.0,0.0,0.0,0.0,11.0,0.0,0.0,11.0
4,0.0,0.0,6.0,11.0,10.0,8.0,0.0,0.0,0.0,27.0,...,5.0,0.0,4.0,0.0,0.0,0.0,8.0,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46000,0.0,0.0,0.0,22.0,3.0,15.0,0.0,0.0,0.0,16.0,...,12.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
46001,0.0,0.0,0.0,21.0,2.0,19.0,0.0,0.0,0.0,14.0,...,11.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0
46002,0.0,0.0,0.0,20.0,10.0,19.0,0.0,0.0,0.0,13.0,...,11.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
46003,0.0,0.0,0.0,19.0,2.0,15.0,0.0,0.0,0.0,10.0,...,10.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
46004,0.0,0.0,0.0,19.0,1.0,17.0,0.0,0.0,0.0,13.0,...,9.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0

# **18.2.4 Step 4: Building forecast model**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout, Input

# Assuming you have your 'dataset' loaded before this part
num_columns = int(input("How many columns would you like to predict? "))
columns_to_predict = dataset.columns[:num_columns]
all_predictions = {}

for index, column in enumerate(columns_to_predict, 1):
    print(f"Processing column {index}/{len(columns_to_predict)}: {column}")
    data = pd.to_numeric(dataset[column], errors='coerce').dropna().values.reshape(-1, 1)
    scaler = MinMaxScaler()
    data_scaled = scaler.fit_transform(data)
    X, y = [], []
    for i in range(len(data_scaled) - 1):
        X.append(data_scaled[i:i+1, 0])
        y.append(data_scaled[i+1, 0])
    X, y = np.array(X), np.array(y)
    X = X.reshape(X.shape[0], X.shape[1], 1)

    model = Sequential()
    model.add(Input(shape=(1, 1)))
    model.add(LSTM(units=50))
    model.add(Dropout(0.2))
    model.add(Dense(units=50))
    model.add(Dense(1))

    model.compile(loss='mean_squared_error', optimizer='adam')

    # Removed EarlyStopping and its callback
    model.fit(X, y, epochs=10, batch_size=32, verbose=0)

    next_hours_input = X[-1:]
    next_hours_predictions = []

    for _ in range(24):
        next_hour_prediction = model.predict(next_hours_input, verbose=0)
        next_hours_predictions.append(next_hour_prediction.flatten()[0])
        next_hours_input = np.array([[next_hour_prediction.flatten()[0]]])
        next_hours_input = next_hours_input.reshape(1, 1, 1)

    next_hours_predictions = scaler.inverse_transform(np.array(next_hours_predictions).reshape(-1, 1))
    all_predictions[column] = next_hours_predictions.flatten()

predictions_df = pd.DataFrame(all_predictions)

output_path = 'LSTM_predicted_values.csv'
predictions_df.to_csv(output_path, index_label='Index')
print(f"Predictions saved")

# **18.2.5 Step 5: Converting the predicted multiple timeseries data into a transactional database**

In [ ]:
!pip install pami

In [ ]:
from PAMI.extras. convert import denseDF2DB as db
obj = db. denseDF2DB (predictions_df)
obj. convert2TransactionalDatabase ('TDB.csv ','>=' ,8)

# **18.2.6 Step 6: Pattern Discover**

In [ ]:
from PAMI.extras.dbStats import TransactionalDatabase as tds
obj = tds.TransactionalDatabase('TDB.csv ')
obj.run()
obj.printStats()
obj.plotGraphs()

In [ ]:
from PAMI. frequentPattern .basic import FPGrowth as ab
obj = ab. FPGrowth ('TDB.csv ', 8)
obj.mine ()
obj. printResults ()
obj.save('FPs.txt ')

# **18.2.7 Step 6: Visualization of Patterns**

In [ ]:
from PAMI.extras.graph import visualizePatterns as fig
obj = fig. visualizePatterns ('FPs.txt ', 10)
obj. visualize (width =1000 , height =900)